.allImagesflex {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  position: relative;
  .allImages {
    width: 99%;
    object-fit: cover;
    margin-top: 1%;
    height: 350px;
  }

  .textBlock {
    position: absolute;
    bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    .allCarsPrice {
      font-size: x-large;
      color: white !important;
      font-weight: bolder;
    }
  }
}
.allCars {
  text-align: center;
  .allCarsH1 {
    margin-top: 15%;
    display: inline-block;
  }
}
@media screen and (min-width: 800px) {
  .allCars .allCarsH1 {
    margin-top: 10%;
  }
}
