h1 {
  text-align: center;
}
.tbl {
  overflow-x: auto;
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    .bot:nth-of-type(even) {
      background-color: #ccc;
    }
    .bot:hover {
      background-color: #ddd;
    }
    .bot {
      border: 1px solid #333;
    }
    .top {
      border: 1px solid #333;
      background-color: green;
      color: white;
    }
    th,
    td {
      text-align: center;
      padding: 8px;
    }
  }
  @media screen and (max-width: 800px) {
    .notOnPhone {
      display: none;
    }
  }
}
