// .MuiAppBar-colorPrimary {
//   background-color: #fff !important;
// }
// .MuiIconButton-colorInherit {
//   color: #333 !important;
// }
.navbarCustomer {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 1000;
  text-align: center;
  .burgerIcon {
    width: 33%;
    justify-content: flex-start;
    margin-top: 12px;
    .burger {
      font-size: 25px;
    }
  }
  .NavLogoFlex {
    width: 33%;
    justify-content: center;
    .navLogo {
      height: 50px;
      object-fit: contain;
    }
  }
  .crap {
    width: 33%;
  }
}
